// Quasar Stylus Variables
// --------------------------------------------------

// Palette of the branded theme
$primary   = #36877F
$secondary = #2E3A82
$tertiary  = #A2AA33
$accent    = #F08969

$positive  = #61C9AC
$negative  = #C10015
$info      = #3298DB
$warning   = #F5EA53
